.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.is_done{
  opacity: 0.5;
}
.active {
  background-color: cadetblue ;
}
.error{
  background-color: coral;
  border: 2px solid red;
  outline: transparent;
}
.buttonTitle{
 display:flex;
}